.article {
  margin-bottom: 40px;

  &--small {
    flex: 0 32%;
  }

  &--medium {
    flex: 0 48%;
  }

  &__image {
    display: block;
    margin-bottom: 10px;
  }

  &__categories {
    @include font(16px, 18px, $vivid-orange-color, 400);
    position: relative;
    width: max-content;
    margin: 0 auto;

    &:before, &:after {
      @include position(absolute, 43%);
      content: '';
      width: 25px;
      height: 1px;
      background-color: $vivid-orange-color;
    }

    &:before {
      right: 120%;
    }

    &:after {
      left: 120%;
    }
  }

  &__title {
    display: block;
    height: 48px;
    margin-top: 10px;
    margin-bottom: 10px;

    & > h3 {
      @include font(18px, 24px, $dark-gray-color, 500);
      @include truncate(2, 24px);
      text-align: center;
      transition: color 0.3s ease-in-out;

      @include hover-supported {
        color: $vivid-orange-color;
      }
    }
  }

  &__description {
    @include font(14px, 22px, $dark-gray-color, 400);
    @include truncate(4, 22px);
  }
}
