.footer {
  background-color: $dark-cyan-color;

  &__wrapper {
    @include create-wrapper(1200px, 0 auto);
  }

  &__top {
    @include flex(space-between);
    height: 200px;
    padding: 40px 0;
  }

  &__bottom {
    @include flex(space-between, center, column-reverse);
    height: 100px;
    padding: 10px 0 20px;
    border-top: 1px solid $white-color;

    @include screen-xs {
      flex-direction: row;
      padding: 0;
    }
  }
}

.footer-icon {
  @include flex(center, center);
  width: 20px;
  height: 20px;
  color: $white-color;
}

.footer-logo {
  @include font(24px, 24px, transparent, 700);
  flex: 1;

  :first-child {
    color: $white-color;
  }

  :last-child {
    color: $vivid-orange-color;
  }
}

.footer-navigation {
  @include flex(space-between, $align: flex-end, $direction: column);
  width: 200px;

  @include screen-xs {
    align-items: flex-start;
    min-width: 200px;
  }

  &:nth-child(2) {
    display: none;

    @include screen-xs {
      display: flex;
    }
  }

  &__link {
    @include font(16px, 16px, $white-color, 400);
    text-align: right;
    margin-bottom: 5px;
    transition: color 0.3s;

    @include screen-xs {
      text-align: left;
    }

    @include hover-supported {
      color: $vivid-orange-color;
    }
  }
}

.copyright {
  @include font(12px, 16px, $white-color, 400);
  text-align: center;
}

.social-networks {
  @include flex(center);

  &__item {
    @include flex(center, center);
    color: $white-color;
    font-size: 18px;
    width: 30px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
  
    &--linkedin {
      @include hover-supported {
        color: $linkedin-color;
        background-color: $white-color;
      }
    }
  
    &--youtube {
      @include hover-supported {
        color: $youtube-color;
        background-color: $white-color;
      }
    }
  
    &--facebook {
      @include hover-supported {
        color: $facebook-color;
        background-color: $white-color;
      }
    }
  
    &--twitter {
      @include hover-supported {
        color: $twitter-color;
        background-color: $white-color;
      }
    }
  
    &--instagram {
      @include hover-supported {
        color: $instagram-color;
        background-color: $white-color;
      }
    }
  }
}
