.header {
  @include position(fixed, 0, 0, 0, 0);
  height: 100px;
  background-color: $white-color;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: height 0.3s ease-out;
  z-index: $z-index-header;

  &--is-narrowed {
    height: 60px;
  }

  &__wrapper {
    @include create-wrapper(1200px);
    @include flex(space-between, center);
    height: inherit;
  }
}

.logo {
  @include font(24px, 24px, transparent, 700);

  :first-child {
    color: $light-cyan-color;
  }

  :last-child {
    color: $vivid-orange-color;
  }
}

.navigation {
  height: inherit;

  &__list {
    @include flex();
    height: inherit;
  }

  &__item {
    margin: 0 10px;
  }

  &__link {
    @include font(16px, 16px, $dark-gray-color, 600);
    @include flex($align: center);
    height: 100%;
    padding: 0 15px;
    border-bottom: 3px solid transparent;

    &--is-active {
      border-bottom-color: $vivid-orange-color;
    }
  }
}
