.header {
  @include position(fixed, 0, 0, 0, 0);
  height: 100px;
  background-color: $white-color;
  z-index: $z-index-header;

  &__wrapper {
    @include create-wrapper(1200px);
    @include flex(space-between, center);
    height: inherit;
  }
}

.logo {
  @include font(24px, 24px, transparent, 700);

  :first-child {
    color: $dark-cyan-color;
  }

  :last-child {
    color: $vivid-orange-color;
  }
}

.navigation {
  &__list {
    @include flex();
  }

  &__item {
    margin: 0 10px;
    padding: 0 15px;
    border-bottom: 3px solid transparent;

    &--is-active {
      border-bottom-color: $vivid-orange-color;
    }
  }

  &__link {
    @include font(16px, 100px, $dark-gray, 600);
    display: block;
    height: 100%;
  }
}
