.banner {
  @include create-wrapper(1200px, 0 auto);

  &__wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: 50%;
  }
}

.section-title {
  @include flex(center);
  margin-bottom: 80px;

  & > h2 {
    @include font(30px, 40px, $dark-gray-color, 700);
    position: relative;
    width: max-content;

    &:before, &:after {
      @include position(absolute, $right: 0, $left: 0);
      content: '';
      margin: 0 auto;
      background-color: $vivid-orange-color;
    }

    &:before {
      bottom: -4px;
      width: 100px;
      height: 3px;
    }

    &:after {
      bottom: -12px;
      width: 60px;
      height: 2px;
    }
  }
}

.recent-articles {
  @include create-wrapper(1200px, 50px auto);

  &__wrapper {
    @include flex(space-between, $wrap: wrap);
  }
}

.recent-article {
  position: relative;
  flex-basis: 48%;
  margin-bottom: 30px;
  cursor: pointer;

  &:before {
    @include position(absolute, 0, 0, 0, 0);
    @include font(20px, 20px, $white-color, 500);
    @include flex(center, center);
    content: 'Read more';
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity 0.3s ease-in;
    z-index: 10;
  }

  @include hover-supported {
    &:before {
      opacity: 1;
    }
  }

  &__content {
    @include position(absolute, $right: 0, $bottom: 0, $left: 0);
    width: 100%;
    height: max-content;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 20;
  }

  &__categories {
    @include font(16px, 18px, $white-color, 500);
    @include position(absolute, 10px, $left: 10px);
    z-index: 20;

    &:before, &:after {
      @include position(absolute, $left: 0);
      content: '';
      background-color: $white-color;
    }

    &:before {
      bottom: -3px;
      width: 80%;
      height: 2px;
    }

    &:after {
      bottom: -7px;
      width: 60%;
      height: 1px;
    }
  }

  &__title {
    @include font(18px, 24px, $white-color, 500);
    @include truncate(2, 24px);
    margin-bottom: 5px;
  }

  &__date {
    @include font(14px, 14px, $white-color, 400);
  }
}

.subscribes {
  height: 400px;
  padding: 40px;
  background-color: $light-gray-color;

  &__wrapper {
    @include create-wrapper(1200px, 0 auto);
  }

  &__title {
    @include font(30px, 40px, $dark-color, 500);
    text-align: center;
    margin-bottom: 20px;
  }

  &__subtitle {
    @include font(20px, 26px, $dark-gray-color, 400);
    text-align: center;
  }

  &__form {
    @include flex($align: center, $direction: column);
    max-width: 500px;
    margin: 40px auto 30px;
  }

  &__input {
    text-align: center;
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid $dark-gray-color;

    &:focus {
      border-bottom-color: $vivid-orange-color;
    }
  }

  &__submit-button {
    @include font(16px, 16px, $white-color, 500);
    max-width: 200px;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    background-color: $vivid-orange-color;
    cursor: pointer;
  }

  &__social-networks {
    @include flex(center);
  }

  &__network {
    @include flex(center, center);
    color: $dark-gray-color;
    font-size: 18px;
    width: 40px;
    height: 40px;
    margin: 5px;
    padding: 5px;
    background-color: $gray-color;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;

    &--linkedin {
      @include hover-supported {
        color: $white-color;
        background-color: $linkedin-color;
      }
    }

    &--youtube {
      @include hover-supported {
        color: $white-color;
        background-color: $youtube-color;
      }
    }

    &--facebook {
      @include hover-supported {
        color: $white-color;
        background-color: $facebook-color;
      }
    }

    &--twitter {
      @include hover-supported {
        color: $white-color;
        background-color: $twitter-color;
      }
    }

    &--instagram {
      @include hover-supported {
        color: $white-color;
        background-color: $instagram-color;
      }
    }
  }
}

.popular-articles {
  @include create-wrapper(1200px, 50px auto);

  &__wrapper {
    @include flex(space-between, $wrap: wrap);
  }
}
