.blog-page-banner {
  height: 150px;
  background-color: $dark-cyan-color;

  &__wrapper {
    @include create-wrapper(1200px, 0 auto);
    @include flex(space-between, center);
    height: inherit;
  }

  &__title {
    @include font(30px, 30px, $white-color, 600);
  }
}

.blog-page-content {
  @include create-wrapper(1200px, 60px auto);

  &__wrapper {
    @include flex(space-between);
  }

  &__articles-list {
    @include flex(space-between, $wrap: wrap);
    align-content: flex-start;
    max-width: 850px;
    margin-right: 30px;
  }
}
