.category-page-content {
  @include create-wrapper(1200px, 40px auto);

  @include screen-sm {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  &__wrapper {
    @include flex(space-between, $direction: column);

    @include screen-sm {
      flex-direction: row;
    }
  }

  &__articles-list {
    @include flex(space-between, $wrap: wrap);
    align-content: flex-start;
    max-width: 850px;

    @include screen-sm {
      margin-right: 30px;
    }
  }
}
