$white-color: #ffffff;
$dark-color: #231F20;
$dark-gray-color: #555555;
$gray-color: #eeeeee;
$light-gray-color: #f5f5f5;
$vivid-orange-color: #de7119;
$light-cyan-color: #18b0b0;
$dark-cyan-color: #116979;

$linkedin-color: #0E72A3;
$youtube-color: #F60001;
$facebook-color: #4064AC;
$twitter-color: #1C9CEA;
$instagram-color: #D62977;
